<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/internal-nlog-AspNetCore.txt">

    <extensions>
        <add assembly="NLog.Database" />
    </extensions>

    <targets>
        <!-- <target xsi:type="Database" name="SqliteDatabase" keepConnection="false" -->
        <!--         dbProvider="System.Data.SQLite.SQLiteConnection, System.Data.SQLite, Version=1.0.118, Culture=neutral" -->
        <!--         connectionString="Data Source=${basedir}\Logs.db;Version=3;" -->
        <!--         commandText="INSERT INTO Log(TimeStamp, Level, Logger, Message) VALUES(@Timestamp, @Level, @Logger, @Message)"> -->
        <!--     <parameter name="@Timestamp" layout="${longdate}" /> -->
        <!--     <parameter name="@Level" layout="${level:uppercase=true}" /> -->
        <!--     <parameter name="@Logger" layout="${logger}" /> -->
        <!--     <parameter name="@Message" layout="${message}" /> -->
        <!-- </target> -->

        <target xsi:type="MethodCall"
                name="SqliteDatabase"
                className="UsersManager.Persistence.SqLiteLogging, UsersManager.Persistence"
                methodName="LogAsync">
            <parameter layout="Data Source=${basedir}\Logs.db;Version=3;" />
            <parameter layout="${longdate}" />
            <parameter layout="${level:uppercase=true}" />
            <parameter layout="${logger}" />
            <parameter layout="${message}" />
        </target>

        <target xsi:type="File" name="allfile"
                fileName="${basedir}/logs/nlog-AspNetCore-all-${date:format=yyyy-MM-dd-HH}.log"
                layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

        <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="allfile">
            <logger name="*" minlevel="Info" writeTo="SqliteDatabase" />
        </logger>

        <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" final="true" />
    </rules>
</nlog>
